
@{
    Layout = null;
}

<!DOCTYPE html>

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/scripts/Plugins/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="~/Content/AdminApp/loginStyle.css" rel="stylesheet" />
<script src="~/scripts/AdminApp/common.js"></script>
<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin">
            <span id="reauth-email" class="reauth-email"></span>
            <label id="lblValidation" style="display:none;" class="text-danger"></label>
            <input type="text" id="inputuserName" class="form-control" placeholder="User Name" required autofocus>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <div id="remember" class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" id="btnLogin">Sign in</button>
        </form>
        <a href="#" class="forgot-password">
            Forgot the password?
        </a>
    </div>
</div>
<script>
    $("#btnLogin").click(function () {
        var userName = $("#inputuserName").val();
        var password = $("#inputPassword").val();
        if (userName == '' || password == '') {
            $('#lblValidation').html("** User Name or Password is incorrect.").show();
            return false;
        }
    });
</script>
