
@{
    ViewBag.Title = "UnAuthorized";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<main class="app-content">
    <div class="page-error tile">
        <h1><i class="fa fa-exclamation-circle"></i> Error 401: Unauthorized Access!</h1>
        <p>You are not authorized to access this page.</p>
        <p><a class="btn btn-primary" href="javascript:window.history.back();">Go Back</a></p>
    </div>
</main>